/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}
h1 {
    text-decoration: underline;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}

.container {
    text-align: center;
}

.button {
    background-color: white;
    border: green;
    color: black;
    padding: 15px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border: 3px solid rgb(38, 185, 38);
    margin: auto;
    height: auto;
    min-width: none;
    width: 250px;
    box-shadow: 5px 5px 10px lightslategray;
}


/*Button for project1*/
#project1.button:hover {
    transition-duration: o.4s;
    background-color: rgb(38, 185, 38);
    color: white;
}

#project1.button:active {
    box-shadow: 3px 3px 3px gray ;
    transform: translateY(4px);
}

#project1.button::after {
    content: "Project One";
}

#project1.button:hover::after {
    content: "Show Details";
}


/*Button for project2*/
#project2.button:hover {
    transition-duration: o.4s;
    background-color: rgb(38, 185, 38);
    color: white;
}

#project2.button:active {
    box-shadow: 3px 3px 3px gray ;
    transform: translateY(4px);
}

#project2.button::after {
    content: "Project Two";
}

#project2.button:hover::after {
    content: "Show Details";
}


/*Button for project3*/
#project3.button:hover {
    transition-duration: o.4s;
    background-color: rgb(38, 185, 38);
    color: white;
}

#project3.button:active {
    box-shadow: 3px 3px 3px gray ;
    transform: translateY(4px);
}

#project3.button::after {
    content: "Project Three";
}

#project3.button:hover::after {
    content: "Show Details";
}


/*Button 4 project4*/
#project4.button:hover {
    transition-duration: o.4s;
    background-color: rgb(38, 185, 38);
    color: white;
}

#project4.button:active {
    box-shadow: 3px 3px 3px gray ;
    transform: translateY(4px);
}

#project4.button::after {
    content: "Project Four";
}

#project4.button:hover::after {
    content: "Show Details";
}

